

<%- include('adminHeader') %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card">
              <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.user.userName %><br> <%= order.user.email %> <br> <%= order.user.phoneNum %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Pay method:  <%= order.PaymentMethod %> <br> Status: <%= order.status %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <% if (order.address === null){%>
                                        <p>Address is Empty</p>
                                        <% }else{ %>
                                    <p class="mb-1">
                                        State: <%=  order.address.state %> <br>
                                        District: <%=  order.address.district %> <br>
                                        City: <%= order.address.city %> <br>
                                        PinCode:<%=  order.address.pincode %><br>                                      
                                    </p>
                                    <% } %>
                                </div>
                                
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="20%">Product</th>
                                            <th width="20%">Name</th>

                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Size</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%">Category</th>

                                            <th width="25%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tbody>
                                            <% order.products.forEach(product => { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="<%= product.product.coverimage %>" width="40" height="40" class="img-xs" alt="Item">
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td><%= product.product.name %></td>
                                                    <td><%= product.product.price %></td>
                                                    <td><%= product.size %></td>
                                                    <td><%= product.quantity  %></td>
                                                    <td><%= product.product.category %></td>
                                                    <td class="text-end"><%= product.quantity * product.product.price %></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                        <% order.products.forEach(product => { %>


                                        <tr>
                                            <td colspan="4">
                                                <article class="float-right">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd><%= product.quantity * product.product.price %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>Free</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5"><%= product.quantity * product.product.price %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success"><%= order.status %></span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                        <% }) %>

                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                            <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a>
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                 
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
     

        <%- include('adminFooter') %>