<%- include('headerUser') %>
	
	<!--PreLoader-->
 
	<!-- end header -->
	
	
	<!-- end search area -->

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1" style="background-image: url('/assets/img/avaters/0bLOkxCsoV7FGNu7Rf4K.webp');">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh & Organic</p>
								<h1>Delicious Seasonal Fruits</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Fruit Collection</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2" style="background-image: url('/assets/img/avaters/home-kit-launch-202324.webp')">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh Everyday</p>
								<h1>100% Organic Collection</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3"style="background-image: url('/assets/img/avaters/1224708246.jpg.0.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Get December Discount</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Visit Shop</a>
									<a href="contact.html" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3  style="color: white;" ><span class="orange-text">Our</span> Products</h3>
					</div>
				</div>
			</div>
			<div class="row" >
				<% for (let i = 0; i < Math.min(6, product.length); i++) { %>
					<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
					  <div class="product-image">
						<a href="/product/?id=<%= product[i]._id %>">
						  <img src="<%=  product[i].coverimage %>" alt="">
						</a>
					  </div>
					  <h3 style="color: white;"><%=  product[i].name %></h3>
					  <p class="product-price" style="color: white;"><span>Rs : <%=  product[i].price %></span></p>
					  <a href="#" class="cart-btn" data-product-id="<%=  product[i]._id %>"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				  </div>
				<% } %>
			  </div>
		</div>
		<div class="row my-4 justify-content-center">
			<div class="col-sm-6">
			  <div class="text-center text-sm-end mt-5 mt-sm-0 ">
				<a href="/Shope" class="btn btn-success boxed-btn" style="border: red;">
				  <i class="mdi mdi-cart-outline me-1 "></i> Discover Now
				</a>
			  </div>
		  </div>
	  </div>
	</div>

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="/assets/img/avaters/190606131917-neymar-tease.jpg" alt="">
						</div>
						<div class="client-meta">
							<h3>Neymar Jr <span>Footballer</span></h3>
							<p class="testimonial-body">
								" The maestro on the field, endorses JerseyHub! Dive into a world of football fervor with authentic player jerseys galore. From iconic names to rising stars, elevate your fan game. Score your jersey fix at JerseyHub - where passion meets quality, delivering football's essence right to your doorstep!" "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="/assets/img/avaters/GettyImages-1258418129.webp" alt="">
						</div>
						<div class="client-meta">
							<h3>Messi <span>Footballer</span></h3>
							<p class="testimonial-body">
								
								"Join Messi in celebrating the spirit of football at JerseyHub! Step into a realm of unparalleled jersey collection, embracing Messi's legacy and beyond. Authenticity meets passion as you explore our range, bringing you closer to the magic of your favorite players. Elevate your fanhood - shop at JerseyHub today!""
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="/assets/img/avaters/000_32KV2M6.jpg" alt="">
						</div>
						<div class="client-meta">
							<h3>Cristiano Ronaldo <span>Footballer</span></h3>
							<p class="testimonial-body">
								" erseyHub! Dive into the realm of football greatness with our exclusive collection of player jerseys. Join Ronaldo's fervor for quality and authenticity as you explore a treasure trove of iconic jerseys. Experience the thrill, celebrate the legends – only at JerseyHub, where your football passion finds its perfect match!" "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 1999</p>
						<h2 style="color: white;">We are <span class="orange-text">Fruitkha</span></h2>
						<p style="color: gray;">Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. Nam eu molestie lorem.</p>
						<p style="color: gray;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
						<a href="about.html" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner" style="background-image: url('/assets/img/avaters/2008-0819-lionel-messi-opgl-38060jpg.jpg')">
    	<div class="container">
        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="shop.html" class="cart-btnw btn-lg">Shop Now</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3 style="color: rgb(255, 255, 255);"><span class="orange-text">Hot</span> News</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="news-text-box">						<a href="single-news.html"><div class="latest-news-bg news-bg-1" style="background-image: url('/assets/img/latest-news/messi.avif');"></div></a>

							<h3 ><a href="single-news.html" style="color:white">Messi was Joined  InterMiami on a 2 Year Contract</a></h3>
							<p class="blog-meta">
								<h6 style="color:orange">Buy the jesrey</h6>
							</p>
							<p class="excerpt"style="color:gray">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2" style="background-image: url('/assets/img/latest-news/CORRECTION-FBL-KSA-HILAL-NEYMAR-0_1692171148316_1692171436515.avif')"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color: rgb(255, 255, 255);">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author" style="color:orange"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt" style="color:gray">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3" style="background-image: url('/assets/img/latest-news/skysports-jude-bellingham-real_6187042.png')"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html" style="color:white">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author" style="color:orange"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt" style="color:gray">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
		document.addEventListener('DOMContentLoaded', function () {
    const cartButtons = document.querySelectorAll('.cart-btn');

    cartButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const productId = this.getAttribute('data-product-id');

            addToCart(productId);
        });
    });

    function addToCart(id) {
        // Your AJAX code remains the same
        $.ajax({
            url: `/addToCart?id=${id}`,
            method: 'get',
            // Rest of your AJAX settings...
            success: function (response) {
                if (response.status) {
                    // Display a SweetAlert upon successful addition to cart
                    Swal.fire({
						title: 'ADDED TO CART',
                    text: 'Product Added to cart',
                    icon: 'success',
                    confirmButtonText: 'OK'
                    });
                } else {
                    Swal.fire({
                        title: 'Oops!',
                        text: 'Failed to add product to cart.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            },
            error: function (error) {
                console.error('Error:', error);
                // Display an error SweetAlert if there's an issue with the AJAX request
                Swal.fire({
                    title: 'Error!',
                    text: 'An error occurred. Please try again.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
});

		</script>

	<%- include('footerUser') %>